<h1>Listing topics</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Location</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.topic_category.name %></td>
    <td><%= topic.start_time %></td>
    <td><%= topic.end_time %></td>
    <td><%= topic.location.city %></td>
    <td><%= topic.name %></td>

    <td><%= link_to 'Show', url_for(:controller => :topics , :method => :get, :action => :show_details, :id => topic.id, :topic_category_id => topic.topic_category.id ) %></td>
    <td><%= link_to 'Edit', edit_topic_category_topic_path(topic.topic_category,topic) %></td>
    <td><%= link_to 'Destroy', [topic.topic_category,topic], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_category_topic_path(@topic_category) %>  |
<%= link_to 'Back', topic_category_path(@topic_category) %>
