<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @badge.user.full_name %>
</p>

<p>
  <b>Name:</b>
  <%= @badge.name %>
</p>


<%= link_to 'Edit', edit_user_badge_path(current_user, @badge) %> |
<%= link_to 'Back', user_badge_path %>
