<p id="notice"><%= notice %></p>

<p>
  <b>Owner</b>
  <%= @bet.user.full_name %>
</p>

<p>
  <b>Subject:</b>
  <%= @bet.subject %>
</p>

<p>
  <b>Reward:</b>
  <%= @bet.reward %>
</p>

<p>
  <b>Date:</b>
  <%= @bet.created_at %>
</p>

<p>
  <b>Due date:</b>
  <%= @bet.due_date %>
</p>

<p>
  <b>State:</b>
  <%= @bet.state %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', user_path(current_user) %>

<%= render :template  => 'predictions/index'  %>
<%= render :template  => 'chat_messages/index'  %>
