<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%#= link_to 'Back', users_path %>

<%= render :template  => 'badges/show_for_user' %>
<%= render :template  => 'user_stats/show_for_user'  %>
<%= render :template  => 'bets/show_for_user'  %>
<%= render :template  => 'friends/show_for_user'  %>