<h1>Listing user_bets</h1>

<table>
  <tr>
    <th>User</th>
    <th>Bet</th>
    <th>User bet</th>
    <th>Date</th>
    <th>Result</th>
    <th>User ack</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_bets.each do |user_bet| %>
  <tr>
    <td><%= user_bet.user.name %></td>
    <td><%= user_bet.bet.subject %></td>
    <td><%= user_bet.user_result_bet %></td>
    <td><%= user_bet.date %></td>
    <td><%= user_bet.result %></td>
    <td><%= user_bet.user_ack %></td>
    <td><%= link_to 'Show', user_bet %></td>
    <td><%= link_to 'Edit', edit_user_bet_path(user_bet) %></td>
    <td><%= link_to 'Destroy', user_bet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @bet.nil? %>
<%= link_to('New User bet' , new_user_bet_path) %>
<% else %>
<%= link_to('New User bet' , new_user_bet_path(:bet_id => @bet.id)) %>
<% end %>
