<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_bet.user.name %>
</p>

<p>
  <b>Bet:</b>
  <%= @user_bet.bet.subject %>
</p>

<p>
  <b>User bet:</b>
  <%= @user_bet.user_result_bet %>
</p>

<p>
  <b>Date:</b>
  <%= @user_bet.date %>
</p>

<p>
  <b>Result:</b>
  <%= @user_bet.result %>
</p>

<p>
  <b>User ack:</b>
  <%= @user_bet.user_ack %>
</p>


<%= link_to 'Edit', edit_user_bet_path(@user_bet) %> |
<%= link_to 'Back', user_bets_path %>
